@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

/* == Universal Styling == */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: be vietnam;
    overflow: hidden;
}

html {
    font-size: 10px;
    background: #223535;
    columns: #fff;
}

/* == Navbar styling == */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

nav img{
    margin-left: 100px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 250px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: #fff;
    margin-left: 70px;
}

nav ul li a:hover{
    opacity: .6;
}

/* == Main Header Content Styling == */
.header_main{
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    margin-left: 100px;
}

.header_main_content_h1{
    font-size: 62px;
}

.header_main_content_p{
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    color: #fff;
}

.header_main_content button{
    font-size: 25px;
    padding: 14 px 65px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #050F0F;
    width: 250px;
    height: 60px;
}

.cta:hover{
    opacity: .6;
}

.header_main_img img{
    background: fixed;
    
}

/* == social media icons styling == */

.social_media{
    padding-left: 70px;
    padding-bottom: 100px;
    margin-left: 10px;
    border: 2px;
    padding-top: 24px;

}