@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    background-image: url(images/background.jpg);
}

form{
    margin-top: 280px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.search-txt{
    justify-content:center;
    margin-left: 40px;
    margin-right: 40px;
    width: 400px;
    padding-left: 20px;
    background-color: rgba(231, 55, 193, 0.39);
    font-family: 'Comfortaa', cursive;
    color:#fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


}