@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root {
    --primary-color: #3F90EE;
    --secondary-color: #fafafa
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 3.5em;
    color: #fff;
    text-align: left;
}

.banner .content p{
    font-size: 1em;
    color: #B0C4DE;
    font-weight: 900;
    text-align: left;
}

.banner .content .saudation{
    text-align: left;
    color: #fff;
    font-family: 'Syne Mono', monospace;
    font-weight: 900;
    font-size: 1.2rem;
}

.banner .content .presentation{
    font-size: 2.5em;
    color: #B0C4DE;
    text-align: left;
}

.btn {
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
    background: var(--primary-color);
    display: inline-block;
    border-radius: 12px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-top: 20px;

}

.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: var(--primary-color);
}

header .navigation{
    position: relative;
    display: flex;
    font-family: 'Syne Mono', monospace;

}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

header.sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: var(--primary-color);
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 400;
}

.titleText span{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .title{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .menu .content{
     display: flex;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-top: 40px;
}

.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text{
    padding: 15px 0 5px;
}

.menu .content .box .text h3{
    font-weight: 400px;
    color: #111;
}

.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box{
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text{
    padding: 15px 0 5px;
}

.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}

/*.testimonials{
    background: url(./images/bg2.jpg);
    background-size: cover;
}

.white .titleText,
.white p{
    color: #fff;
}

.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text{
    text-align: center;
}

.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}

.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 600;
}

*/




/* === STYLE FORM CONTACT */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--secondary-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background-color: var(--primary-color);
    position: relative;
}

.circle{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid var(--secondary-color);
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: yellow;
    border: 2px solid var(--secondary-color);
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    margin-top: 25px;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before, 
.input-container span:after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 50%;
    opacity: 1;
}

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title{
    color: var(--primary-color);
}

.text{
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.information{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon{
    width: 28px;
    margin-right: 0.7rem;
}

.social-media{
    padding: 2rem 0 0 0;
}

.social-media p{
    color: #333;
    font-weight: 500;
}

.social-icons{
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, var(--primary-color), #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover{
    transform: scale(1.05);
}

.contact-info:before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid var(--primary-color);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color), #414EE0);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle:after{
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.square{
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

@media (max-width: 850px) {

.form{
    grid-template-columns: 1fr;
}
.contact-info:before{
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
}

.contact-form:before{
    top: -13px;
    left: initial;
    right: 70px;
}
.square{
    transform: translate(140%, 43%);
    height: 350px;
}

.big-circle{
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
}

.text{
    margin: 1rem 0 1.5rem 0;
}

.social-media{
    padding: 1.5rem 0 0 0;
   }
}

@media (max-width: 480px) {

.container{
    padding: 1.5rem;
}

.contact-info:before{
    display: none;
}

.square,
.big-circle{
    display: none;
}

form,
.contact-info{
    padding: 1.7rem 1.6rem;
}

.text,
.information,
.social-media p{
    font-size: 0.8rem;

}

.title{
    font-size: 1.15rem;
}

.social-icons a{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.icon{
    width: 23px;
}

.input{
    padding: 0.45rem 1.2rem;
}

.btn{
    padding: 0.45rem 1.2rem;
}

}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p{
    color: #333;
}

.copyrightText a{
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 991px) {
    header, header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 600;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .menu .content .box{
        margin: 10px;
    }
    .menu .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}